# ======================
# Python
# ======================
# байт-код Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# виртуальные окружения
venv/
.env/
__pycache__/
*.pyc

# ======================
# Логи и временные файлы
# ======================
*.log
logs/
log/
*.tmp
*.bak
*.swp

# ======================
# Конфигурации
# ======================
# Секретные данные
# Секретные конфигурации и базы данных
backend/config/inventory.py
backend/data/*.db
backend/data/*.json
backend/data/
*.db
*.sqlite
.env
*.env
.env.*
!.env.example

# Настройки пользователя IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ======================
# Системные файлы
# ======================
.DS_Store
Thumbs.db
desktop.ini

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Output
# ======================
output/*.tmp
output/*.bak