# Образец настроек (заполнить своими данными и переименовать в .env)
SNMP_COMMUNITY=public
SNMP_PORT=161

DJANGO_ADMIN_USER=admin
DJANGO_ADMIN_PASSWORD=change_this_password

DJANGO_SECRET_KEY=generate_random_secret_key_here